{% extends 'auctions/layout.html' %}

{% block body %}

    {% if notification %}
        <div class="alert alert-primary" role="alert">
            {{ notification }}
        </div>
    {% endif %}

    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}

<h1>Announce Details</h1>
    {% if listing.owner_user != request.user %}
        {% if listing in request.user.watch_list.all %}
            <a href="{% url 'remove_watchlist' listing.id %}">Remove from your Watch List</a>
        {% else %}
            <a href="{% url 'add_watchlist' listing.id %}">Add to your Watch List</a>

        {% endif %}

    {% else %}
        <a href="{% url 'remove_listing' listing.id %}">Remove Listing to announce</a>
    {% endif %}

    <ul>
        <li>Title: {{ listing.title }}</li>
        <li>Description: {{ listing.description }}</li>

        {% if current_bid %}
            <li>Current Bid: {{ current_bid }}</li>

        {% else %}
            <li>Initial Bid: {{ listing.initial_bid }}</li>
        {% endif %}


        {% if listing.image_url %}
            <li>Image: {{ listing.image_url }}</li>
        {% endif %}

        {% if listing.category %}
            <li>Category: {{ listing.category }}</li>
        {% endif %}

        <li>Owner: {{ listing.owner_user }}</li>
    </ul>

    <h3>Comments</h3>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.message }}</li>
        {% empty %}
            <h4>No comments</h4>
        {% endfor %}

    </ul>

    {% if request.user.is_authenticated and request.user != listing.owner_user %}
        <h4>Insert a Bid</h4>
        <form action="{% url 'add_bid' listing.id %}" method="post">
            {% csrf_token %}
            <label for="value">
                <input type="number" name="value">
            </label>
            <input type="submit" value="Bid">
        </form>
    {% endif %}

    {% if request.user.is_authenticated and request.user != listing.owner_user %}
        <h4>Insert a comment</h4>
        <form action="{% url 'add_comment' listing.id %}" method="post">
            {% csrf_token %}
            <input type="text" name="message">
            <input type="submit" value="Comment">
        </form>
    {% endif %}

{% endblock %}