{% extends 'auctions/layout.html' %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    {% endif %}
    
    <h1>Create Announce</h1>

    <form action="{% url 'create_announce' %}" method="post">

        {% csrf_token %}

        <input type="text" name="title" placeholder="Title">
        <input type="text" name="description" placeholder="Description">
        <input type="number" name="bid" placeholder="Initial Bid">
        <input type="text" name="image" placeholder="Image URL">
        <input type="text" name="category" placeholder="Type a Category">

        <input type="submit" value="Create Announce">

    </form>

{% endblock %}